{% extends "base.html" %} 

{% block title %}
    Add Item
{% endblock %}

{% block content %}
<br>
<form method="POST" class="form-search">
    <div class="container">
        <h1>Add an item to the anime or manga list</h1>
        <ol>
            <li>Choose which list to add to (anime or manga)</li>
            <li>Enter name of anime/manga and click search</li>
            <li>Select item to add to list</li>
            <li>Fill out required information and submit</li>
        </ol>
        <br>
        <div class="row">
            <div class="col-2">    
                <select class="form-select" name="type_name" required>
                    {% if type == "anime" %}
                    <option value="anime"selected>Anime</option>
                    <option value="manga">Manga</option>
                    {% elif type == "manga" %}
                    <option value="anime">Anime</option>
                    <option value="manga"selected>Manga</option>
                    {% else %}
                    <option value="" selected disabled hidden>Choose Type</option>
                    <option value="anime">Anime</option>
                    <option value="manga">Manga</option>
                    {% endif %}
                </select>
            </div>
            
            <div class="col-10">
                <div class="input-group">
                    <input type="text" class="form-control" name="item_name" value="{{search}}" required></input>
                    <button class="btn btn-secondary" type="submit" name ="SEARCH" value="SEARCH">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="row mt-3">
        {% for result in results %}
            <div class="col-2 mt-4">
                <div class="card h-100 w-100">
                    <img src="{{ results[result] }}" class="card-img" style="width:100%;height:15vw;">
                    <div class="card-body">
                        <p class="card-text">{{ result }}</p>
                    </div>
                    
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ results[result] }}">Select</button>
                        <form method="POST" class="form-item">
                            <div class="modal fade" tabindex="-1" id="{{ results[result] }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #ADD8E6;">
                                            <h1 class="modal-title fs-5" id="addItemModalLabel">{{ result }}</h1>
                                        </div>
                                        <div class="modal-body">
                                            <h5>Link</h5>
                                            <div class="input-group mb-5">
                                                <input class="form-control" name="link" placeholder="Optional">
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <img src="{{ results[result] }}" class="card-img mb-3">
                                                </div>

                                                <div class="col-6">
                                                    <input type="hidden" name="type" value="{{ type }}">
                                                    <input type="hidden" name="name" value="{{ result }}">
                                                    <input type="hidden" name="image" value="{{ results[result] }}">

                                                    <h5>Choose List</h5>
                                                    <select class="form-select mb-3" name="list" required>
                                                        <option value="" selected disabled hidden>Choose List</option>
                                                        <option value="Currently Watching">Currently Watching</option>
                                                        <option value="Finished">Finished</option>
                                                    </select>
                                                    <h5>Rating</h5>
                                                    <div class="input-group mb-3">
                                                        <input min="1" max="10" step="1" type="number" class="form-control" required name="rating">
                                                        <span class="input-group-text">/10</span>
                                                    </div>
                                                    <h5>Additional Notes</h5>
                                                    <div class="input-group mb-3">
                                                        <textarea class="form-control" name="notes" maxlength="512" placeholder="Optional"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button class="btn btn-secondary" type="submit" name ="PLAN" value="PLAN" formnovalidate>Add to Planned</button>
                                            <div>
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                <button class="btn btn-primary"  type="submit" name ="SUBMIT" value="SUBMIT">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> 
        {% endfor %} 
    </div>
</div>

{% endblock %}