{% extends "base.html" %} 

{% block title %}
    Anime List
{% endblock %}

{% block content %}
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<link rel='stylesheet' href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

<script src="{{ url_for('static',filename='script.js')}}"></script>

<div class="container">
    <br>
    <center><h1>Anime List</h1></center>
    <select class="form-select" aria-label="Default select example">
        <option selected>Currently Watching</option>
        <option value="1">Plan to Watch</option>
        <option value="2">Finished</option>
    </select>
    <br>
    <table id="anime_list" class="table table-hover table-secondary table-bordered table-condensed " style="width:100%; border:1px;">
        <thead>
            <tr>
                {% for header in headings %}
                <th scope="col">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td><img src="{{ row[0] }}" height="25%" width="25%"></td>
                <td> {{ row[1] }}</td>
                <td> {{ row[2] }}/10</td>
                <td> {{ row[3] }}</td>
                <td>
                    <button class="btn btn-outline btn-info">Edit</button>
                    <button class="btn btn-outline btn-danger">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</div>

{% endblock %}