{% extends "base.html" %} 
{% from 'macros.html' import data_table %}

{% block title %}
    Anime List
{% endblock %}

{% block content %}
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<link rel='stylesheet' href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

<div class="container">
    <br>
    <h1 style="text-align:center; text-decoration: underline;">
        {% block label %}
            Anime List ({{ list }}) 
        {% endblock %}
    </h1>
    <br>
    <form method="POST" class="form-list">
        <div class="row">
            <div class="input-group">
                <select class="form-select selectedList" name="list" id="selectedList">
                    <script> var selectedVal = '{{list}}' </script>
                    <option id="all" value="All">All</option>
                    <option id="currentlyWatching" value="Currently Watching">Currently Watching</option>
                    <option id="finished" value="Finished">Finished</option>
                    <option id="planned" value="Planned">Planned</option>
                </select>
                <button class="btn btn-secondary" type="submit" name ="GO" value="GO">Go</button>
            </div>  
        </div>
    </form>

    <br>
    {% block table %}
        {{ data_table(anime_data, type) }}
    {% endblock %} 
    <br>
</div>

{% endblock %}