<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="color:white;">
          Anime/Manga Tracker
        </span>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('views.home') }}">Home</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.anime') }}">Anime</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.manga') }}">Manga</a>
            </li>
            {% endif %}
        </ul>
        
        {% if current_user.is_authenticated %}
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white; font-weight: bold; padding-right: 20px;">Hello, {{ current_user.username }}!</a>
            </li>
            <li class="nav-item">
              <a href="{{ url_for('views.add_item') }}" class="btn btn-primary" type="button" id="button-addon2">Add Item</a>
            </li>
          </ul>
        {% else %}
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
            </li>
          </ul>
        {% endif %}
        </div>
      </div>
    </nav>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
  </body>

  <style>
      body {
        background-color: #212121;
        color: #DDE6ED;
      }

      nav {
        background-color: #333333;
        color: #DDE6ED;
      }
  </style>
</html>