{% extends "base.html" %} 

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <br>
    <h1 class="text-center">Welcome {{ current_user.username }}!</h1>
    <div class="container text-center">
        <img class="center" src="https://64.media.tumblr.com/a3b6597c5e85e9016e77e8e282ac95bd/9e785dff5a7f2d43-52/s1280x1920/abce408a35467b467d2be40de1cbdf274c3ef53f.png" style="width: 15%; height: 15%;text-align: center;">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <h2 style="text-decoration: underline;">Anime Stats</h2>
                <h4>Total Anime Watched: <span style="color:#ffdd80"> {{ stats['anime_total_count'] }}</span></h4>
                <h6>Currently Watching Anime: <span style="color:#ffdd80">{{ stats['anime_watching_count'] }}</span></h6>
                <h6>Finished Anime: <span style="color:#ffdd80">{{ stats['anime_finished_count'] }}</span></h6>
                <br>
                <canvas id="animeRatings"></canvas>
                <br>
                <h4>Average Anime Rating: <span style="color:#ffdd80">{{ avg_anime_rating }}</span></h4>
                <br>
                <a class="btn btn-secondary" href="{{ url_for('views.anime') }}">Anime List</a>
                
            </div>
            <div class="col-5">
                <h2 style="text-decoration: underline;">Manga Stats</h2>
                <h4>Total Manga Read: <span style="color:#ffdd80">{{ stats['manga_total_count'] }}</span></h4>
                <h6>Currently Reading Manga: <span style="color:#ffdd80">{{ stats['manga_watching_count'] }}</span></h6>
                <h6>Finished Manga: <span style="color:#ffdd80">{{ stats['manga_finished_count'] }}</span></h6>
                <br>
                <canvas id="mangaRatings"></canvas>
                <br>
                <h4>Average Manga Rating: <span style="color:#ffdd80">{{ avg_manga_rating }}</span></h4>
                <br>
                <a class="btn btn-secondary" href="{{ url_for('views.manga') }}">Manga List</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="color:#DDE6ED">
        <h1 class="display-4 font-weight-normal">Anime/Manga Tracker</h1>
        <p class="lead font-weight-normal">Create and track a list of Anime and Manga using the button below</p>
        <img class="container" src="https://ih1.redbubble.net/image.1837732425.0155/st,small,507x507-pad,600x600,f8f8f8.jpg" style="width: 30%; height: 30%;">
        <br> <br> <br>
        <a class="btn btn-primary" href="{{ url_for('auth.login') }}">Get Started</a>
    </div>
    {% endif %}
    
    <script>
        const animeRatings = document.getElementById('animeRatings');
          const animeChart = new Chart(animeRatings, {
            type: 'bar',
            data: {
              labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
              datasets: [{
                backgroundColor:"rgba(56, 136, 255, 0.5)",
                borderColor:"rgba(56, 136, 255, 1)",
                label: ' # of Anime',
                data: {{ anime_ratings }},
                borderWidth: 1
              }]
            },
            options: {
              indexAxis: 'y',
              scales: {
                y: {
                  beginAtZero: true,
                  title: {
                    display:true,
                    text: 'Rating',
                  }
                }
              },
              plugins: {
                tooltip:{
                  displayColors: false,
                  titleFont: 'bold'
                }
              } 
            }
          });
    </script>

    <script>
        const mangaRating = document.getElementById('mangaRatings');
        new Chart(mangaRating, {
            type: 'bar',
            data: {
            labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'],
            datasets: [{
                backgroundColor:"rgba(209, 17, 17, 0.5)",
                borderColor:"rgba(209, 17, 17, 1)",
                label: ' # of Manga',
                data: {{ manga_ratings }},
                borderWidth: 1
            }]
            },
            options: {
              indexAxis: 'y',
              scales: {
                y: {
                  beginAtZero: true,
                  title: {
                    display:true,
                    text: 'Rating',
                  }
                }
              },
              plugins: {
                tooltip:{
                  displayColors: false,
                  titleFont: 'bold'
                }
              } 
            }
          });
    </script>

{% endblock %}