{% extends "base.html" %} 

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="color:#DDE6ED">
    <h1 class="display-4 font-weight-normal">Anime/Manga Tracker</h1>
    <p class="lead font-weight-normal">Create and track a list of Anime and Manga using the button below</p>
    <img class="container" src="https://ih1.redbubble.net/image.1837732425.0155/st,small,507x507-pad,600x600,f8f8f8.jpg" style="width: 30%; height: 30%;">
    <br> <br> <br>
    <a class="btn btn-primary" href="{{ url_for('views.anime') }}">Get Started</a>
</div>
{% endblock %}