{% extends "anime.html" %} 

{% block title %}
    Manga List
{% endblock %}

{% block label %}
    {% if visit %}
        {{user}}'s Manga List
    {% else %}
        Manga List ({{ list }})
    {% endif %}  
    {% if request.path == "/manga/planned" %}
    <form method="POST" class="form-list">
        <button class="btn btn-success btn-m" type="submit" name ="RANDOM" value="RANDOM">Get Random Manga from Planned List</button>
    </form>
    {% endif %}
{% endblock %}

{% block watching %}
<option id="currentlyReading" value="Currently Reading">Currently Reading</option>
{% endblock %}

{% block table %}
    {{ data_table(manga_data, type, label="Currently Reading") }}
{% endblock %} 
